<strong>API Token:</strong> <%= session[:api_token] %><br/>
<strong>Available Permissions:</strong>
<%= form_tag permissions_path do %>
  <ul>
    <% session[:token_permissions].each do |perm| %>
      <li><%= check_box_tag perm.to_sym %><%= label_tag perm.to_sym, perm %></li>
    <% end %>
  </ul>
  <%= submit_tag 'Continue' %>
<% end %>
